.search-bar {
  position: relative;
  width: 50vw;
  margin-left: 30vw;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #F57C00;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); */
}


@media only screen and (max-width:450px){

.search-bar {
  position: relative;
  width: 70vw;
  margin-left: 3%;
}
  
}
