.shared-button{
    border: none;
    padding: 16px 70px;
    border-radius: 25px;
    cursor:pointer;
    font-size: 1.5rem;
    margin-top: 1%;

}

.primary{
    /* background-color:darkorange; */
    background-color:#F57C00;
    color:white;

}
.secondary{
    /* color:darkorange; */
    background-color: #FBE3CA;
    /* color:#F57C00; */
    color: #e67728;
}

@media screen and (max-width:700px) {
    .shared-button{
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor:pointer;
    font-size: 1rem;
    margin-top: 10%;

}
}

@media screen and (min-width:701px) and (max-width:1024px) {
       .shared-button{
    border: none;
    padding: 12px 50px;
    border-radius: 25px;
    cursor:pointer;
    font-size: 1.5rem;
    margin-top: 10%;

}
}
