.topcards-container {
  display: flex;
justify-content: space-around;
  margin-bottom: 20px;
}
.topcard {
  background-color: #f97316;
  color: white;
  padding: 24px;
  border-radius: 12px;
  width: 220px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.topcard-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}
.topcard-number {
  font-size: 28px;
  font-weight: bold;
}
.users-container {
  margin-top: 2rem;
}
.users-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.users-table {
  width: 100%;
  border-collapse: collapse;
}
.users-table th,
.users-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.users-table thead {
  background-color: #ffedd5;
  color: #ea580c;
  text-align: left;
}

.users-title {
  font-size: 24px;
  color: #f97316; 
  margin-bottom: 16px;
}

.users-table tr:hover {
  background-color: #fff7ed;
}

.status-active {
  color: green;
  font-weight: bold;
}